P {
    margin: 0;
}

body {
    margin: 0px;
    width: 100%;
    position: fixed;
    background: linear-gradient(270deg, hsl(50, 100%, 70%), hsl(320, 100%, 50%));
    background-size: 400% 400%;
    background-position: center;
}
.container {
    display: grid;
    grid-template-columns: auto 70vw auto;
    grid-template-rows: auto 20vw 200px;
    grid-template-areas:
        "header header header"
        ". title ."
        ". contents .";
}

.title {
    grid-area: title;
}

.title svg {
    width: 100%;
    height: 100%;
    font-size: 14.5em;
}

.header {
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: inline-flex;
    align-items: center;
}

.header a {
    text-decoration: none;
}

.contents {
    grid-area: contents;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 1vw;
}

.lockup {
    display: inline-flex;
    align-items: center;
}

.links {
    margin-left: auto;
}

.links a:not(:last-child) {
    margin-right: 1vw;
}

.rainbow:hover path {
    animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
    0% {
        color: red;
    }
    
    17% {
        color: #FF0;
    }
    
    33% {
        color: #0F0;
    }
    
    50% {
        color: #0FF;
    }
    
    67% {
        color: #00F;
    }
    
    84% {
        color: #F0F;
    }
    
    100% {
        color: red;
    }
}

.name {
    margin-left: 1vw;
    display: inline;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
}

.text {
    fill: none;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    animation: stroke 7s infinite linear;
    font-family: 'roboto', sans-serif;
}
  
.text:nth-child(5n + 1) {
stroke: rgb(255, 255, 255);
animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
stroke: rgb(255, 255, 255);
animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
stroke: rgb(255, 255, 255);
animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
stroke: rgb(255, 255, 255);
animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
stroke: rgb(255, 255, 255);
animation-delay: -6s;
}
  
 @keyframes stroke {
    100% {
      stroke-dashoffset: -400;
    }
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        grid-template-columns: auto 90vw auto;
    }

    .name {
        font-size: 5vw;
    }

    .rainbow {
        height: 5vw;
    }
}