html {
    height: 100%;
}

P {
    margin: 0;
}

body {
    margin: 0px;
    width: 100%;
    position: fixed;
    background: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    background: -o-linear-gradient(rgb(207,221,172),rgb(255,255,255));
    background-size: 400% 400%;
    background-position: center;
}
.container {
    display: grid;
    grid-template-columns: auto 70vw auto;
    grid-template-rows: auto 20vw 200px;
    grid-template-areas:
        "header header header"
        ". title ."
        ". contents .";
}

.title {
    grid-area: title;
}

.title svg {
    width: 100%;
    height: 100%;
    font-size: 14.5em;
}

.header {
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: inline-flex;
    align-items: center;
}

.header a {
    text-decoration: none;
}

.contents {
    grid-area: contents;
    background-color: white;
    border-radius: 10px;
    padding: 1vw;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
}

.lockup {
    display: inline-flex;
    align-items: center;
}

.links {
    margin-left: auto;
}

.links a:not(:last-child) {
    margin-right: 1vw;
}

.rainbow:hover path {
    animation: rainbow 2s linear infinite;
}

@keyframes rainbow {
    0% { fill: red; }
    17% { fill: #FF0; }
    33% { fill: #0F0; }
    50% { fill: #0FF; }
    67% { fill: #00F; }
    84% { fill: #F0F; }
    100% { fill: red; }
}

.name {
    margin-left: 1vw;
    display: inline;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
}

.text {
    fill: none;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    animation: stroke 7s infinite linear;
    font-family: 'roboto', sans-serif;
}
  
.text:nth-child(5n + 1) {
stroke: rgb(255, 255, 255);
animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
stroke: rgb(255, 255, 255);
animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
stroke: rgb(255, 255, 255);
animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
stroke: rgb(255, 255, 255);
animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
stroke: rgb(255, 255, 255);
animation-delay: -6s;
}
  
 @keyframes stroke {
    100% {
      stroke-dashoffset: -400;
    }
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        grid-template-columns: auto 90vw auto;
    }

    .name {
        font-size: 5vw;
    }

    .main-logo {
        height: 5vw;
    }

}

.main-logo {
    height: 3vw;
    display: inline-block;
}